Repository theanujdev/express-ts-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update docker version to 22
  docker/dev/Dockerfile
Due: none

fix: add lint coverage for ts files
  eslint.config.mjs
Due: none

fix: add include and exclude files in tsconfig
  tsconfig.json
Due: prettier --write

feat: disable type-checked linting for test files
  eslint.config.mjs
Due: none

feat: add .env types support
  .env.example
  .gitignore
  src/config/index.ts
  src/config/logger.ts
  src/server.ts
Due: eslint --fix, prettier --write

feat: add env enum in config
  src/config/config.enum.ts
  src/config/index.ts
  src/config/logger.ts
Due: eslint --fix, prettier --write

feat: add cross-env for cross env support
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,html,md})
